.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#slideleft{

  animation: slideleft 1 2s ease-out;
  z-index: -999;
}
#slideright{

  animation: slideright 1 .3s ease-out;
}
@keyframes slideleft {
  0% {
    
   opacity: 100%;

  }
  50% {
    
    opacity: 0%;
  }
  100% {
    
    opacity: 100%;
  }


}

@keyframes slideright {
  0% {
    translate: 10px;
   opacity: 100%;

  }
  50% {
    translate: 1000px;
    opacity: 0%;
  }
  100% {
    translate: 20000px;
    opacity: 100%;
  }


}

p{

font-size: 10px;

}


.overflow-scroll::-webkit-scrollbar { 
  display: none; 
}
.all{

overflow: hidden;
  scroll-behavior:smooth;
}

.activenav::after{

  content: ' ';
  border-width: 1px;
  border-radius: .5rem;
  display: flex;


}

